--- layout: page full-width: true language: utf8 ---
People

Principle Investigator
{% for people in site.people %} {% if people.position == "Principle Investigator" %}
￼
{{ people.title }} {{ people.degree }}
{{ people.email }} {% if people.webside %}    {% endif %} {% if people.google_scholar %}    {% endif %} {% if people.github %}    {% endif %}
{{ people.introduce }}
{% endif %} {% endfor %}
{% for people in site.people %} {% if people.position == "Assistant" %}
￼
{{ people.title }} {{ people.degree }}
{{ people.email }}
{% if people.webside %} {% endif %} {% if people.google_scholar %} {% endif %} {% if people.github %} {% endif %}
{% endif %} {% endfor %}
PhD Students
{% for people in site.people %} {% if people.position == "PhD" %}
￼
{{ people.title }} {{ people.degree }}
{{ people.email }}
{% if people.webside %} {% endif %} {% if people.google_scholar %} {% endif %} {% if people.github %} {% endif %}
{% endif %} {% endfor %}
M.S. Students
{% for people in site.people %} {% if people.position == "MS" %}
￼
{{ people.title }} {{ people.degree }}
{{ people.email }}
{% if people.webside %} {% endif %} {% if people.google_scholar %} {% endif %} {% if people.github %} {% endif %}
{% endif %} {% endfor %}
